@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* layout */
  .layout {
    @apply max-w-[1200px] mx-auto;
  }

  /* header */
  .h1 {
    font-weight: 700;
    font-size: 60px;
    line-height: 80px;
    letter-spacing: -0.6px;
  }
  .h2 {
    font-weight: 700;
    font-size: 44px;
    line-height: 56px;
    letter-spacing: -0.6px;
  }
  .h3 {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    letter-spacing: -0.6px;
  }
  .h4 {
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -0.6px;
  }
  .h5 {
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    letter-spacing: -0.6px;
  }
  .h6 {
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
    letter-spacing: -0.6px;
  }
  .subhead1 {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.6px;
  }
  .subhead2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.6px;
  }
  .subhead3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.6px;
  }
  .subhead4 {
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -0.6px;
  }

  /* body */
  .b1 {
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: -0.6px;
  }
  .b2 {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.6px;
  }
  .b3 {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.6px;
  }
  .b4 {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.6px;
  }

  /* caption */
  .c1 {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.6px;
  }
  .c2 {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.6px;
  }
  .c3 {
    font-weight: 500;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: -0.6px;
  }
  .c4 {
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: -0.6px;
  }

  /* 경험 분해 - 카드 */
  .experience {
    @apply w-full border-[1px] border-primary-200 rounded-[24px] bg-white shadow-toast;
  }

  .menulist {
    box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.16);
  }
}

@layer components {
  /* form에 해당하는 모든 컴포넌트: select, input */
  .form {
    @apply w-full p-4 b2 text-main bg-white border-[1px] rounded-2xl border-gray-300 hover:text-main hover:border-gray-500 focus:text-main focus:border-primary-500 active:text-main disabled:text-gray-500 disabled:bg-gray-100 disabled:border-gray-200 focus-visible:outline-none read-only:cursor-not-allowed read-only:text-main read-only:bg-gray-50 read-only:border-none;
  }

  .form-error {
    @apply form border-error;
  }
  .flex-center {
    @apply flex items-center justify-center;
  }
  /* resume에서 사용하는 section 컴포넌트: ResumeForm, ExperienceCardList */
  .resume-section {
    @apply flex flex-col w-[700px] border-[1px] rounded-3xl border-primary-100 shadow-toast bg-white;
  }
}
